.cities {
  margin-left: 300px;
  display: flex;
}

.cities li {
  list-style-type: none;
}

.citiesName input {
  margin-right: 20px;
}

.citiesName {
  margin-top: 30px;
}

.flexContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flexContainer li {
  display: flex;
  align-items: center;
  margin-bottom: 3px;
}
